.logo-title{
    font-size: 65px;
}
.manual-model{
    font-size: 65px;
}
.manual-content-container .manual-heading-l2{
    font-size: 50px;
}
.manual-title{
    font-size: 35px;
}
.manual .manual-item .manual-content {
    font-size: 30px;
    min-height: 105px;
}
.manual-content-container .manual-heading-l3{
    font-size: 26px;
}
h3.heading{
    font-size: 24px;
}
.breadcrumb-item,.manual-content-container, 
.sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
.instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
.tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
.instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
.btn-tooltip, .tooltip-inner
{
	font-size: 22px
}
.diagram-container .diagram-head{
    font-size: 18px;
}
.sidebar-header {
    font-size: 9pt;
}

.logo-title{
    padding-left: 30px;
}
.manual-title{
    margin-bottom: -25px !important;
}
.manual-content-container {
    width: 100%;
}
a.sidebar-link {
    padding: .625rem 1rem;
}
.manual-content-container .manual-heading-l3{
    margin: 1rem 0;
}
.mx2-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.px2-4 {
    padding-right: 1.8rem;
    padding-left: 1.8rem;
}
.px2-5 {
    padding-right: 2rem;
    padding-left: 2rem;
}
@media only screen
and (max-width: 1600px){
    .logo-title{
        font-size: 50px;
    }
    .logo-title {
        padding-left: 20px;
    }
    .manual-model{
        font-size: 50px;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 40px;
    }
    .manual-title{
        font-size: 30px;
    }
    .manual .manual-item .manual-content {
        font-size: 24px;
        min-height: 95px;
    }
    .manual-content-container .manual-heading-l3{
        font-size: 20px;
    }
    h3.heading{
        font-size: 20px;
    }
    .breadcrumb-item,.manual-content-container, 
    .sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
    .instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
    .tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
    .instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
    .btn-tooltip, .tooltip-inner
    {
        font-size: 18px
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 18px
    }
    .logo {
        width: 50px;
    }
    .manual-title {
        margin-bottom: -12px !important;
    }
    .manual-model{
        margin-bottom: 0rem;
    }
    .sideBarMenu{
        margin-top: 2px;
        width: 30px;
        height: 22px;
    }
    .pt-10 {
        padding-top: 8.5rem !important;
    }
    .mt-10 {
        margin-top: 8rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 10rem);
    }
    .px-lg-5 {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    h3.heading{
        margin-bottom: 0.5rem;
    }
    .sidebar-width.pb-5{
        padding-bottom: 2rem !important;
    }
    .breadcrumb-panel-fix-ht{
        height: 50px;
    }
    .py-3{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
}


@media only screen
and (max-width: 1280px){
    .logo-title{
        font-size: 46px;
    }
    .logo-title {
        padding-left: 20px;
    }
    .manual-model{
        font-size: 46px;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 30px;
    }
    .manual-title{
        font-size: 26px;
    }
    .manual .manual-item .manual-content {
        font-size: 20px;
    }
    .manual-content-container .manual-heading-l3{
        font-size: 18px;
    }
    h3.heading{
        font-size: 18px;
    }
    .breadcrumb-item,.manual-content-container, 
    .sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
    .instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
    .tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
    .instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
    .btn-tooltip, .tooltip-inner
    {
        font-size: 17px
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 17px
    }
    .manual-title {
        margin-bottom: -18px !important;
    }
    .manual-model{
        margin-bottom: 0rem;
    }
    .sideBarMenu{
        margin-top: 2px;
    }
    .pt-10 {
        padding-top: 8.5rem !important;
    }
    .mt-10 {
        margin-top: 8rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 11rem);
    }
    .px-lg-5 {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    h3.heading{
        margin-bottom: 0.5rem;
    }
    .sidebar-width.pb-5{
        padding-bottom: 2rem !important;
    }
    .logo-title {
        padding-left: 15px;
    }
    
}

@media only screen
and (max-width: 1024px){
    /*.logo-title{
        font-size: 30pt;
    }
    .manual-model{
        font-size: 30pt;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 25pt;
    }
    .manual-title{
        font-size: 22pt;
    }*/
    .px2-4 {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }
    .px2-5 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .mx2-3 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
    .pt-10 {
        padding-top: 8.2rem !important;
    }
    .mt-10 {
        margin-top: 7.5rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 11rem);
    }
    .manual-title {
        margin-bottom: -10px !important;
    }
    .sidebar-item a.sidebar-link{
        padding: .45rem 0.5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .manual-model.px-4{
        padding-right: 0px !important;
    }
    .sidebar-width{
        width: 350px;
    }
    .sidebar-padding{
        padding-left: 350px;
    }
    
}

@media only screen
and (max-width: 920px){
    .banner-wrap{
        display: flex;
        flex-direction: column;
        display: 100%;
    }
    .navbar-light .navbar-brand{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .breadcrumb-panel-fix-ht {
        height: 45px;
    }
    .mx-3 {
        margin-left: 0.5rem !important;
    }
    .mt-10 {
        margin-top: 10.5rem !important;
    }
    .pt-10 {
        padding-top: 11.5rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 14rem);
    }
    .note-panel::before{
        top: -20px;
        padding: 6px 15px 2px 48px;
        border-radius: 10px;
    }
    .warning-panel::before{
        top: -1.4rem;
        padding: 10px 15px 5px 48px;
    }
}
