.logo-title{
    font-size: 65pt;
}
.manual-model{
    font-size: 65pt;
}
.manual-content-container .manual-heading-l2{
    font-size: 50pt;
}
.manual-title{
    font-size: 35pt;
}
.manual .manual-item .manual-content {
    font-size: 30pt;
}
.manual-content-container .manual-heading-l3{
    font-size: 26pt;
}
h3.heading{
    font-size: 24pt;
}
.manual .manual-item .manual-content, .breadcrumb-item,.manual-content-container, 
.sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
.instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
.tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
.instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
.btn-tooltip, .tooltip-inner
{
	font-size: 22pt
}
.diagram-container .diagram-head{
    font-size: 18pt;
}
.sidebar-header {
    font-size: 9pt;
}
.logo-title{
    padding-left: 30px;
}
.manual-title{
    margin-bottom: -30px !important;
}
.manual .manual-item .manual-content {
    min-height: 82px;
}
.manual-content-container {
    width: 100%;
}
a.sidebar-link {
    padding: .625rem 1rem;
}
.manual-content-container .manual-heading-l3{
    margin: 1rem 0;
}
@media only screen
and (max-width: 1600px){
    .logo-title{
        font-size: 46pt;
    }
    .manual-model{
        font-size: 46pt;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 34pt;
    }
    .manual-title{
        font-size: 28pt;
    }
    .manual .manual-item .manual-content {
        font-size: 24pt;
    }
    .manual-content-container .manual-heading-l3{
        font-size: 18pt;
    }
    h3.heading{
        font-size: 18pt;
    }
    .manual .manual-item .manual-content, .breadcrumb-item,.manual-content-container, 
    .sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
    .instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
    .tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
    .instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
    .btn-tooltip, .tooltip-inner
    {
        font-size: 16pt
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 16pt
    }
    .logo {
        width: 70px;
    }
    .logo {
        margin-top: -16px;
    }
    .manual-title {
        margin-bottom: -18px !important;
    }
    .manual-model{
        margin-bottom: 0rem;
    }
    .sideBarMenu{
        margin-top: 2px;
    }
    .breadcrumb-panel{
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
    .pt-10 {
        padding-top: 10rem !important;
    }
    .mt-10 {
        margin-top: 9rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 12rem);
    }
    .px-lg-5 {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    h3.heading{
        margin-bottom: 0.5rem;
    }
    .sidebar-width.pb-5{
        padding-bottom: 3rem !important;
    }
    .breadcrumb-panel-fix-ht{
        height: 56px;
    }
}


@media only screen
and (max-width: 1280px){
    .logo-title{
        font-size: 38pt;
    }
    .manual-model{
        font-size: 38pt;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 28pt;
    }
    .manual-title{
        font-size: 21pt;
    }
    .manual .manual-item .manual-content {
        font-size: 20pt;
    }
    .manual-content-container .manual-heading-l3{
        font-size: 17pt;
    }
    h3.heading{
        font-size: 17pt;
    }
    .manual .manual-item .manual-content, .breadcrumb-item,.manual-content-container, 
    .sidebar-item a.sidebar-link, h3.tab-title,.machine-container .nav-link,
    .instrument-container .nav-link-circle,.instrument-cab-post .nav-link-circle,
    .tab-pane span.tab-number, .nav-pills button.nav-link span.num-circle,
    .instrument-cab-post-container .tab-content .heading span.number, .accordion-button, 
    .btn-tooltip, .tooltip-inner
    {
        font-size: 15pt
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 15pt
    }
    .logo {
        width: 60px;
    }
    .logo {
        margin-top: -12px;
    }
    .manual-title {
        margin-bottom: -18px !important;
    }
    .manual-model{
        margin-bottom: 0rem;
    }
    .sideBarMenu{
        margin-top: 2px;
    }
    .breadcrumb-panel{
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
    }
    .pt-10 {
        padding-top: 9rem !important;
    }
    .mt-10 {
        margin-top: 8.5rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 12rem);
    }
    .px-lg-5 {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    h3.heading{
        margin-bottom: 0.5rem;
    }
    .sidebar-width.pb-5{
        padding-bottom: 3rem !important;
    }
    .logo-title {
        padding-left: 15px;
    }
    
}

@media only screen
and (max-width: 1024px){
    .logo-title{
        font-size: 30pt;
    }
    .manual-model{
        font-size: 30pt;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 25pt;
    }
    .manual-title{
        font-size: 22pt;
    }
    .logo {
        width: 45px;
    }
    .logo {
        margin-top: -2px;
    }
    .px-4 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .pt-10 {
        padding-top: 8.2rem !important;
    }
    .mt-10 {
        margin-top: 7.5rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 11rem);
    }
    .manual-title {
        margin-bottom: -10px !important;
    }
    .sidebar-item a.sidebar-link{
        padding: .45rem 0.5rem;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .manual-model.px-4{
        padding-right: 0px !important;
    }
    
}

@media only screen
and (max-width: 920px){
    .banner-wrap{
        display: flex;
        flex-direction: column;
        display: 100%;
    }
    .mx-3 {
        margin-left: 0.5rem !important;
    }
    .mt-10 {
        margin-top: 10.5rem !important;
    }
    .pt-10 {
        padding-top: 11.5rem !important;
    }
    .manual-content-wrapper {
        height: calc(100vh - 14rem);
    }
    .note-panel::before{
        top: -20px;
        padding: 6px 15px 2px 48px;
        border-radius: 10px;
    }
    .warning-panel::before{
        top: -1.4rem;
        padding: 10px 15px 5px 48px;
    }
}

/*
@media only screen
and (max-width: 1024px){
    .banner-wrap.px-lg-5{
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    .breadcrumb-panel {
        top: 82px;
        z-index: 100;
    }
    .logo-title{
        font-size: 46px;
        padding-left: 20px;
    }
    .manual-title{
        font-size: 28px;
        margin-bottom: -15px !important;
    }
    .manual-model{
        font-size: 46px;
    }
    .manual .manual-item .manual-content {
        font-size: 22px;
        min-height: 82px;
    }
    .breadcrumb-item{
        font-size: 18px;
    }
    .manual-content-container {
        width: 100%;
        font-size: 18px;
    }
    a.sidebar-link {
        padding: .625rem 1rem;
        font-size: 18px;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 34px;
    }
    .manual-content-container .manual-heading-l3{
        font-size: 22px;
        margin: 1rem 0;
    }
    .pt-10{
        padding-top: 9rem !important;
    }
    .mt-10{
        margin-top: 9rem !important;
        padding-top: 0;
    }
    .manual-content-wrapper {
        height: calc(100vh - 12rem);
    }
    .logo {
        width: 65px;
        margin-top: -12px;
    }
    .py-4 {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }
    .breadcrumb-panel-fix-ht {
        height: 60px;
    }
    .sideBarMenu{
        margin-top: 0rem;
    }
    .sideBarMenu {
        background-image: url(../img/Menu_Normal.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        background-color: transparent;
        border: 0;
        margin-top: 0.25rem;
    }
    .sticky-top.navbar-light {
        position: fixed !important;
        background: var(--bs-light) !important;
        width: 100%;
    }
}

@media only screen
and (max-width: 800px){
    .banner-wrap.px-lg-5 {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .logo-title {
        font-size: 38px;
        padding-left: 16px;
    }
    .manual-model {
        font-size: 38px;
    }
    .manual-content-container .manual-heading-l2{
        font-size: 30px;
    }
    .breadcrumb-panel{
        position: unset;
    }
}

@media only screen
and (max-width: 740px){
    .banner-wrap {
        display: grid;
        width: 100%;
    }
}

@media only screen
and (max-width: 530px){
    .logo-title {
        font-size: 28px;
        padding-left: 16px;
    }
    .manual-model {
        font-size: 28px;
    }
    .manual-title {
        font-size: 20px;
        margin-bottom: 6px !important;
    }
    .manual-content-container .manual-heading-l2 {
        font-size: 26px;
    }

    .sidebar-nav.mx-3 {
        margin-right: 0.5rem!important;
        margin-left: 0.5rem!important;
    }
    #sidebar.collapsed {
        margin-left: -270px;
    }
    .sidebar-width{
        width: 270px;
    }
    .sidebar-padding{
        padding-left: 270px;
    }
    .manual-content-container.mx-3{
        margin-left: 0rem!important;
        margin-right: 0rem!important;
    }
}

*/